@import './utils/variables';
@import './utils/reset';
@import './components/header';
@import './components/logo';
// @import './components/hero';
@import './components/benefits';
@import './components/gallery';
@import './components/social';
@import './components/buttons';
@import './components/activity';
@import './components/team';
@import './components/clients';
@import './utils/subsidiary';
@import './components/titles';
@import './components/footer';
@import './components/modal';
