.activity {
  padding-top: 0px;
  display: none;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-calc));
  margin-top: calc(-1 * var(--margin-calc));
}

.activity__item {
  flex-basis: calc(100% / 3 - var(--margin-calc));
  margin-left: var(--margin-calc);
  margin-top: var(--margin-calc);
  position: relative;
}

.activity__img {
  margin-right: 0px;
}

.activity__titles {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 70px;

  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 1200px) {
  .activity {
    display: flex;
    padding-bottom: 0;
  }
}
