.benefits {
}
.benefits__list {
  display: flex;
  margin-left: calc(-1 * var(--margin-calc));
}
.benefits__item {
  flex-basis: calc(100% / 4 - var(--margin-calc));
  margin-left: var(--margin-calc);
}

.benefit__image {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: var(--margin-calc);
}
.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: var(--margin-text);
}

.benefits__discription {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
