.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer-cont {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__map {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--transition-time) var(--attenuation-function);
}
.footer-list {
  margin-top: 20px;
}
.footer-list__link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--attenuation-function);
}
.footer-list__item a:hover,
.footer-list__item a:focus {
  color: var(--accent-color);
}

.subscribe {
  margin-top: 60px;
}
.subscribe__form {
  width: 100%;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
}
.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  background-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  // margin-left: 12px;
  align-items: center;
  display: flex;
}

.mobile {
  width: 480px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
  .footer-cont {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-cont {
    justify-content: space-between;
  }
  .subscribe__form {
    display: flex;
  }

  .join {
    // margin-left: 70px;
    // margin-right: 93px;
    margin-top: 60px;
  }
  .subscribe__input {
    width: 360px;
    margin-right: 12px;
  }
}
