.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header-container {
  display: block;
  @media screen and (max-width: 767px) {
    padding: 10px 15px;
    align-items: center;
  }
  @media screen and(min-width:768px) {
    flex-direction: row;
  }
}

.adress-mob {
  margin-top: auto;
  margin-bottom: 64px;
}
.mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu {
  opacity: 1;
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  transform: translateX(0%);
  transition: transform 250ms linear;
  padding: 48px 15px 48px 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.is-hidden {
    transform: translateX(100%);
  }
}
.mob-soc-list {
  display: flex;
}
.mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.mob-socials__link {
  font-size: 3.75vw;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.adress-mob__item:not(:last-child) {
  margin-bottom: 32px;
}
.header__nav {
  align-items: center;
}
.adress__link--phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.adress__link--mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-list {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  a {
    color: var(--text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and(min-width:768px) {
    display: flex;
  }
}
@media screen and(min-width:768px) {
  .nav-list__item + .nav-list__item {
    margin-left: 50px;
  }
  .nav-list__link {
    padding: 32px 0;
  }
}

.nav-list__link,
.adress-list__link {
  align-items: center;
  transition: color var(--transition-time) var(--attenuation-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  .adress-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list__link {
    padding: 32px 0;
  }
}

.adress-list {
  margin-left: auto;
  align-items: center;
  display: none;
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
  }
  @media screen and(min-width:768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and(min-width:1200px) {
    display: flex;
  }
}

@media screen and(min-width:1200px) {
  .adress-list__item + .adress-list__item {
    margin-left: var(--margin-calc);
  }
}
ul .current {
  color: var(--accent-color);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.current-mob {
  color: var(--accent-color);
}
