.hero {
  background: #c4c4c4;
  padding: 118px 0;
  text-align: center;
}
.hero-img {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero_480.jpg);
  max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and(min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
  .hero-img {
    height: 600px;
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
