.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  &__nav {
    // margin-right: 93px;
    // padding-top: 24px;
    // padding-bottom: 25px;
    color: #000000;
  }
  &__footer {
    // display: block;
    color: #ffffff;
    // margin-bottom: 20px;
  }
}

.logo__text {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}
