.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 300px;
  min-height: 609px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  color: #000000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.close-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.callback-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  transition: border-color var(--transition-time) var(--attenuation-function);
}
.callback-coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  transition: border-color var(--transition-time) var(--attenuation-function);
  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sign-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sign-check {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  &::before {
    content: ' ';
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    display: block;
    margin-right: 8px;
  }
}
.modal-check:checked + .sign-check::before {
  background-image: url(../images/sign.svg);
  background-color: var(--accent-color);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.sign-link,
.sign-link:hover,
.sign-link:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

.callback-icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  transition: fill var(--transition-time) var(--attenuation-function);
}

.form-field + .form-field {
  margin-top: 10px;
}

.form-field:focus-within .callback-icon,
.form-field:hover .callback-icon {
  fill: var(--accent-color);
}
.form-field:focus-within .callback-input,
.form-field:hover .callback-input {
  border-color: var(--accent-color);
  outline: none;
}
.form-field:focus-within .callback-coment,
.form-field:hover .callback-coment {
  border-color: var(--accent-color);
  outline: none;
}
