.social__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social {
  display: flex;
  justify-content: center;
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__icon {
  fill: currentColor;
}
.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--transition-time)
      var(--attenuation-function),
    color var(--transition-time) var(--attenuation-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    border-radius: 50%;
  }
  &--white {
    color: #ffffff;
  }
}
