.modal-title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.join__title,
.subscrible__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: (16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.label-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.activity__title,
.team__title,
.clients__title {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
