html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.flexability {
  // display: flex;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  // width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
