:root {
  --accent-color: #2196f3;
  --text-color: #000000;
  --margin-img: 30px;
  --margin-text: 10px;
  --margin-calc: 30px;
  --attenuation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
